#home {
  position: relative; }
  #home #ust {
    position: relative;
    top: 0;
    z-index: 1000; }
    #home #ust::before {
      content: "";
      width: 100%;
      height: 1px;
      background: -webkit-linear-gradient(-45deg, #11998e, #38ef7d);
      position: absolute;
      top: 40px;
      left: 0; }
    #home #ust .topbar {
      background: black;
      top: 0; }
      #home #ust .topbar .container .row .col-md-12 {
        width: 100%; }
        #home #ust .topbar .container .row .col-md-12 .flat-information {
          position: relative;
          padding: 0px 19px 0px 3px;
          display: inline-block; }
          #home #ust .topbar .container .row .col-md-12 .flat-information .phone {
            position: relative;
            display: inline-block; }
            #home #ust .topbar .container .row .col-md-12 .flat-information .phone::before {
              content: "";
              margin-right: 5px;
              width: 1px;
              height: 18px;
              background: -webkit-linear-gradient(-45deg, #11998e, #38ef7d);
              position: absolute;
              top: 3px;
              left: 0; }
            #home #ust .topbar .container .row .col-md-12 .flat-information .phone a {
              color: white;
              font-size: 12px;
              padding: 13px;
              text-decoration: none;
              font-size: 12px; }
              #home #ust .topbar .container .row .col-md-12 .flat-information .phone a i {
                padding-right: 10px; }
          #home #ust .topbar .container .row .col-md-12 .flat-information .email {
            display: inline-block; }
            #home #ust .topbar .container .row .col-md-12 .flat-information .email a {
              color: white;
              font-size: 12px;
              padding: 5px;
              text-decoration: none;
              font-size: 12px; }
              #home #ust .topbar .container .row .col-md-12 .flat-information .email a i {
                padding-right: 10px; }
        #home #ust .topbar .container .row .col-md-12 .flat-socials {
          float: right;
          list-style: none;
          display: inline-block;
          position: relative; }
          #home #ust .topbar .container .row .col-md-12 .flat-socials::before {
            content: "";
            width: 1px;
            height: 18px;
            background: -webkit-linear-gradient(-45deg, #11998e, #38ef7d);
            position: absolute;
            top: 3px;
            left: -6; }
          #home #ust .topbar .container .row .col-md-12 .flat-socials li {
            display: inline-block;
            padding: 0px 0px 0px 23px; }
            #home #ust .topbar .container .row .col-md-12 .flat-socials li a {
              color: white; }
  #home #header .navbar {
    margin-top: 40px;
    background: white; }
    #home #header .navbar .container .navbar-brand img {
      width: 120px; }
    #home #header .navbar .container .collapse .navbar-nav {
      margin-right: -5%;
      z-index: 100000; }
      #home #header .navbar .container .collapse .navbar-nav .nav-item .nav-link {
        color: black;
        margin: 0px 19px 0px 20.2px;
        line-height: 40px; }
      #home #header .navbar .container .collapse .navbar-nav .nav-item ul {
        display: none; }
        #home #header .navbar .container .collapse .navbar-nav .nav-item ul li a {
          margin: 0px 19px 0px 20.2px;
          line-height: 86px; }

.scrolled .navbar {
  background-color: black;
  padding: 0px;
  top: -63px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.scrolled .navbar-brand {
  color: black; }
.scrolled .nav-link {
  color: black !important; }
.scrolled .nav-item {
  padding: 18px 0px !important; }

.flat-row {
  margin-top: 80px;
  padding: 109px 0px 115px 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  position: relative;
  clear: both; }
  .flat-row .container .row {
    margin-left: -15px;
    margin-right: -15px; }
    .flat-row .container .row .flat-quote .quote-content {
      position: relative; }
      .flat-row .container .row .flat-quote .quote-content .quote-title h1 {
        font-size: 36px;
        color: black;
        margin-left: 50px; }
      .flat-row .container .row .flat-quote .quote-content .quote-footer ul .right {
        color: black;
        list-style: none; }
        .flat-row .container .row .flat-quote .quote-content .quote-footer ul .right a {
          color: black;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .flat-row .container .row .flat-quote .quote-content .quote-footer ul .right a:hover {
            text-decoration: none;
            color: #2bd383; }
        .flat-row .container .row .flat-quote .quote-content .quote-footer ul .right span {
          margin-left: 3px; }
      .flat-row .container .row .flat-quote .quote-content .quote-footer ul li {
        list-style: none;
        float: left;
        color: black;
        margin-left: 6px; }

.fonSekil {
  height: 342px;
  background-image: url(../img/about_fon.jpg); }

#blogss {
  margin-top: 80px; }
  #blogss .container .row .cardd {
    margin-top: 30px; }
    #blogss .container .row .cardd .images {
      width: 330px;
      position: relative; }
      #blogss .container .row .cardd .images::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 330px;
        background: #2bd383;
        opacity: 0.6;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      #blogss .container .row .cardd .images:hover.images::before {
        height: 220px; }
      #blogss .container .row .cardd .images:hover span {
        opacity: 1;
        transform: scale(1.2);
        transform: rotateZ(360deg); }
      #blogss .container .row .cardd .images img {
        width: 100%; }
      #blogss .container .row .cardd .images span {
        position: absolute;
        top: 80px;
        left: 147px;
        opacity: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
        #blogss .container .row .cardd .images span i {
          font-size: 50px;
          color: white; }
    #blogss .container .row .cardd .title {
      width: 450px;
      float: left;
      margin-left: 20px;
      margin-top: 5px; }
      #blogss .container .row .cardd .title h4 {
        color: black;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer; }
        #blogss .container .row .cardd .title h4:hover {
          color: #2bd383; }
      #blogss .container .row .cardd .title p {
        margin-top: 15px;
        line-height: 28px;
        font-weight: 300; }
      #blogss .container .row .cardd .title ul {
        margin-bottom: 20px;
        margin-top: 30px;
        list-style: none; }
        #blogss .container .row .cardd .title ul .author-thumbnail {
          margin-left: -35px; }
          #blogss .container .row .cardd .title ul .author-thumbnail img {
            float: left; }
        #blogss .container .row .cardd .title ul .position a {
          text-decoration: none;
          margin-left: 10px;
          font-weight: 600;
          color: black;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          #blogss .container .row .cardd .title ul .position a:hover {
            color: #2bd383; }
        #blogss .container .row .cardd .title ul .position .p {
          line-height: 0px; }
          #blogss .container .row .cardd .title ul .position .p a {
            font-weight: 200;
            text-decoration: none;
            margin-left: 10px; }

#f-tweet {
  display: inline-block; }
  #f-tweet .f-list {
    display: inline; }
  #f-tweet i {
    display: inline; }

.f-title {
  margin-bottom: 16px;
  line-height: 48px;
  text-transform: none;
  color: #fff;
  font-weight: 300; }

#footer {
  background: #151515;
  padding: 86px 0px 80px 0px;
  margin-top: 80px; }

#f-top {
  display: flex; }
  #f-top .col-md-3 {
    display: inline-block;
    padding: 0px; }
    #f-top .col-md-3 .col-md-4 {
      padding: 5px; }
      #f-top .col-md-3 .col-md-4 img {
        width: 80%; }
  #f-top a {
    color: #fff;
    width: 40px;
    height: 40px;
    background: #212121;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: 1.5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #f-top a:hover {
      background: linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7)); }
  #f-top input[type="text"],
  #f-top textarea {
    width: 88%;
    background: #212121;
    font-family: "Arial";
    font-size: 14px;
    line-height: 39px;
    padding: 0px 10px 0px 10px;
    letter-spacing: 0.2px;
    color: #989696;
    border-radius: 3px;
    border: 1px solid #212121;
    display: inline-block; }

#footer-bot {
  display: inline-block;
  background-color: black;
  width: 100%; }
  #footer-bot .copyright p {
    display: inline-block; }
  #footer-bot #speci1 {
    color: #2bd383;
    padding-right: 3px; }
  #footer-bot #speci1:hover {
    color: grey; }
  #footer-bot .linkess {
    position: flex;
    float: right; }
    #footer-bot .linkess a:hover {
      color: white; }
  #footer-bot a {
    font-size: 12px;
    line-height: 24px;
    color: #868686;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    margin: 0px 4px 0px 18px;
    text-decoration: none; }

/*# sourceMappingURL=blog.css.map */
